<div class="sub-main-carousal-row sub-content">
    <div class="sub-main-carousal-col-21">
    </div>
  </div>
  
  <div class="sub-main-carousal-row">
    <div class="sub-main-carousal-col-1"></div>
    <div class="sub-main-carousal-col-2" >
  <div  style="background: #fff">
      <div style="display:flex" >
        <div fxLayout="row wrap" class="colored nopad">
          <div fxFlex="grow">
            <h2 style="text-align: left;background: #fff;color: #a60413 !important ;font-weight: 500;">EXCURSIONS
            </h2>
            <div >
              <br>
              <span style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: left; ">
                  Day tours organized by Evergo Travels lead you to many luxury experiences for the guests to enjoy diverse activities and scenic mother nature. Destined it hiking and trekking through mountains and lush forests, white water rafting, day and night safari through deep forests, whales and birds watch, cultural shows, Tea plantation and factories, Sri Lanka rich heritage and many more. So be it. SO Sri Lanka with Evergo Travels.
              </span>
            </div>
          </div>
        </div>
  
      </div>
      <br/>
      
  <hr style="
  border-top: 22px solid #ededed;
"/>

  <br/>
</div>
      <app-travel-mini-detail></app-travel-mini-detail>


      <div class="sub-main-carousal-col-3"></div>
    </div>

