<div class="main-carousal-row" id="ALL">
    <div class="main-carousal-col-2">
      <app-main-carousal></app-main-carousal>
    </div>
  </div>
  
  <div class="">
    <div fxLayout="row wrap" class="nopad">
      <div fxFlex="grow" style="background: #fff;text-align: left;">
        <br>
  
        <h2 style=" text-align: center;background: #fff;color: rgb(146, 85, 85);"> MALDIVES</h2>
        <div style="margin:0% 10% 0% 10%;">
          <br>
          <br>
  
          <p style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: center; word-spacing:2px ">
              Tour in Maldives is easy when you leave all the preparations to Evergo Travels. We can arrange exclusive and tailor-made tours which let you feel the best of the Maldives and its tropical warm climate. Travel easy on arrival 30 days VISA with lightweight cottons and linen CLOTHES
              It is only ONE HOUR FLY from Sri Lanka towards the southwest to the Republic of Maldives which consists of about 1200 islands.
              It has the best beaches and dive spots around the islands for SURFING , SCUBA DIVE over two hundred species of coral and hundreds more species of other marine lives. The best time to visit for surfing and other WATER SPORTS is in the monsoon seasons from April to October and from June to September
              The Maldivian CULTURE is Islam and Dhivehi is the most commonly spoken language while Ramadan and Kuda Eid are the most important festivals in this Muslim country. Their WEEKENDS falls on Friday and Saturday whereas dog/pork products, pornography, import of alcohol and narcotic drugs are strictly PROHI BIT ED in Maldives.
              You can confidently leave everything to us to have you a memorable insight in the country. Don’t miss out to enjoy fishing, explore in the city tours and to have fresh sea food while your stay in Maldives.
              Book now with EVERGO TRAVELS
  
          </p>
  
  
  
          <br>
          <br>
          <div id="CULTURAL"></div>
          <br>
          <br>
  
        </div>
  
      </div>
    </div>
  
    <div class="tour-detail-row">
  
    </div>
    <!-- <div class="sub-main-carousal-row" style="background-color: white">

        <div class="sub-main-carousal-col-1"></div>
        <div class="sub-main-carousal-col-2">
      
          <div style="display: flex;flex-direction: row" fxLayout="row wrap" class="colored nopad">
            <div style="width: 50%">
              <div style="width:100%"> <img src="{{imagePath}}A1.jpg" alt="Chicago"> </div>
      
            </div>
            <div style="width: 50%">
              <h2 _ngcontent-c3="" style=" text-align: left;;color: rgb(217, 206, 147);margin: 2% 0% 3% 7%;"> CULTURAL</h2>
              <div>
                <p
                  style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: left;word-spacing:2px;margin: 0% 0% 0% 4%;">
      
                  Travel to Sri Lanka and experience the “Paradise”
                  which most commonly used the word to describe Sri Lanka and journey of discovery full of memories that will
                  last forever for generations to generations. Lush, Tropical Island of golden beaches and crystal clear blue
                  waters wrapped around and bundled amazingly within 65000SqKms
                  Callers to Sri Lanka to experience travel adventure can choose some numerous activities from unwound on the
                  beach to perceiving the wildlife, dive into huge coral reefs while exploring our unique culture and ancient
                  temples and remains.
                  So World! Be SO SRI LANKA
                  We invite you to explore and experience in the pearl of the Indian Ocean with “Evergo Way”
                  <br>
                  <br>
      
                  <a routerLink="/selected-tour/cultural">View more ..</a>
                </p>
      
              </div>
      
            </div>
      
      
          </div>
        </div>
        <div class="sub-main-carousal-col-3"></div>
        <div id="AYURVEDAWELLNESS"></div>
      </div> -->
<br>
  
  <app-travel-mini-detail></app-travel-mini-detail>
  
  </div>