
<div class="sub-main-carousal-row">

    
    <div class="sub-main-carousal-col-21" style="display:flex;flex-direction: column;margin-top: 85px">
        <!-- <h1 class="sub-mdain-heddadding">ABOUT US</h1>
<div class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" >
    <div class="carousel-item active" >
      <img src="{{imagePath}}c1.jpg" alt="Chania" >
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>LA is always so much fun!</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{{imagePath}}c2.jpg" alt="Chicago">
      <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago!</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{{imagePath}}c3.jpg" alt="New York">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{{imagePath}}c4.jpg" alt="New York">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>
    </div>

  </div>
</div>
  -->
  </div>



  </div>

  <div class="sub-main-carousal-row">
      <div class="sub-main-carousal-col-1"></div>
      <div class="sub-main-carousal-col-2">
          <div style="display:flex">
              <div fxLayout="row wrap" class="colored nopad">
                  <div fxFlex="grow" style="background: #fff">
                    <h2 style=" text-align: left;background: #fff;color: rgb(85, 106, 146);">RELIABLE TRAVEL AND TRANFERS</h2>
                      <div>
                        <br>
                          <span style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: left; ">
                            We, Evergo Travels, respect the environment and a commitment to the principles of sustainable
corporate management within positive relationships with the local communities and helping to benefit
them through the support of our operations and build the quality of their lives.
                          </span>
                          <br>
                          <br>
                          <span style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: left; ">
                              Our Visitors can select from a range of transport options from Cars, Vans High roof/flat-roof, Coaches,
                              Buses and SUVs to Luxury vehicles with customer safety and comfort from Japanese, American and
                              European brands. We can also facilitate Helicopters and book Train tickets, offering your experience
                              across the country more convenient, time saving, pocket easy and exciting within social best practices in
                              compliance with the local and international regulations and policies.
                            </span>
                            <br>
                            <br>

                            <span style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: left; ">
                                The Biodiversity in Sri Lanka from the biggest animal on ground, elephant, to the biggest in the sea,
whales, and leopards, Deers and Sri Lankan Bears etc; are well-known around the world and our
language speaking experienced chauffeur guides and guides can be allocated exclusively for your best of
the best experience and to enhance your knowledge before leave this paradise back to your destinations
                              </span>
                      </div>
                  </div>
                </div>
              
            </div>
         </div>
         <div class="sub-main-carousal-col-3"></div>
      </div>
  
  <div class="sub-main-carousal-row">
      <div class="sub-main-carousal-col-1"></div>
      <div class="sub-main-carousal-col-2">
          <div style="display:flex">
              <div style="width:100%"> <img  src="{{imagePath}}c2.jpg" alt="Chicago">     </div>
              <div style="width:0%" ><div style="margin:2%" ></div></div>
            </div>
         </div>
         <div class="sub-main-carousal-col-3"></div>
      </div>
     
    