<div class="topNavigation" style="background-color: gray">
    <div  style="display: flex;background-color: transparent" >
      <div>
          <img  style="height: 99px;">
      </div>
      <div style="margin-left: auto;margin-top: 1.2%;font-weight: 1000 !important;font-size: 14px !important;" >
        <ul >
    
             
      </ul>
      </div>
    </div>
  
</div>







<div class="sub-main-carousal-row">
  <div class="sub-main-carousal-col-1"></div>
  <div class="sub-main-carousal-col-2" style="display:flex;flex-direction:column;">
      <h1 class="sub-main-headding1" style="background-color: darkgrey">CONTACT US</h1>
      <div>
              <img  src="{{imagePath}}google-maps-multiple-locations.png" alt="Chicago">    
      </div>
  </div>
  
  <div class="sub-main-carousal-col-3"></div>
</div>
