<div class="main-carousal-row">
  <div class="main-carousal-col-2">
    <app-main-carousal></app-main-carousal>
  </div>
</div>

<div class="">
  <div fxLayout="row wrap" class="nopad">
    <div fxFlex="grow" style="background: #fff;text-align: left;">
      <br>

      <h2 style=" text-align: center;background: #fff;color: rgb(146, 85, 85);"> TOURS IN SRI LANKA</h2>
      <div style="margin:0% 10% 0% 10%;">
        <br>
        <br>

        <p style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: center; word-spacing:2px ">

          Tour in Sri Lanka is easy when you leave all the preparations to Evergo Travels. We can arrange exclusive
          and tailor-made tours which let you discover the best of Sri Lanka from a luxury car for one or two
          passengers or a passenger van for a family or group of friends to Bicycle and Tuk Tuks as you prefer. You
          can confidently leave everything to us to have you a memorable insight in the country. Don’t miss out
          our golden beaches, wildlife and nature, rich heritage and diversified culture, - book now with Evergo
          Travels


        </p>



        <br>
        <br>
        <br>
        <br>

      </div>

    </div>
  </div>

  <div class="tour-detail-row">

  </div>




</div>
<br>
<div class="sub-main-carousal-row" style="background-color: white">

  <div class="sub-main-carousal-col-1"></div>
  <div class="sub-main-carousal-col-2">

    <div style="display: flex;flex-direction: row" fxLayout="row wrap" class="colored nopad">
      <div style="width: 50%">
        <div style="width:100%"> <img src="{{imagePath}}A1.jpg" alt="Chicago"> </div>

      </div>
      <div style="width: 50%">
        <h2 _ngcontent-c3="" style=" text-align: left;;color: rgb(217, 206, 147);margin: 2% 0% 3% 7%;"> CULTURAL</h2>
        <div>
          <p
            style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: left;word-spacing:2px;margin: 0% 0% 0% 4%;">

            Travel to Sri Lanka and experience the “Paradise”
            which most commonly used the word to describe Sri Lanka and journey of discovery full of memories that will
            last forever for generations to generations. Lush, Tropical Island of golden beaches and crystal clear blue
            waters wrapped around and bundled amazingly within 65000SqKms
            Callers to Sri Lanka to experience travel adventure can choose some numerous activities from unwound on the
            beach to perceiving the wildlife, dive into huge coral reefs while exploring our unique culture and ancient
            temples and remains.
            So World! Be SO SRI LANKA
            We invite you to explore and experience in the pearl of the Indian Ocean with “Evergo Way”


          </p>
        </div>

      </div>


    </div>
  </div>
  <div class="sub-main-carousal-col-3"></div>
</div>
<br>

<div class="sub-main-carousal-row" style="background-color: white">

  <div class="sub-main-carousal-col-1"></div>
  <div class="sub-main-carousal-col-2" style="background-color: white">

    <div style="display: flex;flex-direction: row" fxLayout="row wrap" class="colored nopad">
      <div style="width: 50%">

        <h2 _ngcontent-c3="" style=" text-align: left;;color: rgb(217, 206, 147);margin: 2% 0% 3% 7%;"> AYURVEDA &
          WELLNESS</h2>
        <div style="margin:0% 3% 0% 0%">
          <p
            style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: left;word-spacing:2px;margin: 0% 0% 0% 4%;">

            Run away from stressful modern life but relax and
            refresh your mind, body, and soul with a Ayurvedic
            Journey proficient in Sri Lanka for many centuries.
            Unique authentic treatments and traditional
            techniques combine with medicinal plants, herbs,
            spices and diets.

          </p>
        </div>

      </div>
      <div style="width: 50%">

        <div style="width:100%"> <img src="{{imagePath}}A1.jpg" alt="Chicago"> </div>

      </div>


    </div>
  </div>
  <div class="sub-main-carousal-col-3"></div>
</div>

<br>
<div class="sub-main-carousal-row" style="background-color: white">

  <div class="sub-main-carousal-col-1"></div>
  <div class="sub-main-carousal-col-2">

    <div style="display: flex;flex-direction: row" fxLayout="row wrap" class="colored nopad">
      <div style="width: 50%">
        <div style="width:100%"> <img src="{{imagePath}}A1.jpg" alt="Chicago"> </div>

      </div>
      <div style="width: 50%">
        <h2 _ngcontent-c3="" style=" text-align: left;;color: rgb(217, 206, 147);margin: 2% 0% 3% 7%;"> INTO THE WILD</h2>
        <div>
          <p
            style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: left;word-spacing:2px;margin: 0% 0% 0% 4%;">

            listen to the ethereal voices of the sea, feel the
            breeze of the birds, be flabbergasted by the
            gatherings while gaze at flourished mother nature
            and exotic wildlife in Sri Lanka. Keep on alert for a
            sight of the rare sloth bear or leopard while your
            safari tour in our exclusive national parks in Yala,
            Udawalawe, Kaudulla, Wilpattu, Minneriya, and Gal
            Oya


          </p>
        </div>

      </div>


    </div>
  </div>
  <div class="sub-main-carousal-col-3"></div>
</div>
<br>

<div class="sub-main-carousal-row" style="background-color: white">

  <div class="sub-main-carousal-col-1"></div>
  <div class="sub-main-carousal-col-2" style="background-color: white">

    <div style="display: flex;flex-direction: row" fxLayout="row wrap" class="colored nopad">
      <div style="width: 50%">

        <h2 _ngcontent-c3="" style=" text-align: left;;color: rgb(217, 206, 147);margin: 2% 0% 3% 7%;"> UP IN THE HILLS</h2>
        <div style="margin:0% 3% 0% 0%">
          <p
            style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: left;word-spacing:2px;margin: 0% 0% 0% 4%;">
            Witness the hill country the culture and
            the climate with mountains glistened in
            shades of emerald and jade, a different
            environment in this tropical region.

          </p>
        </div>

      </div>
      <div style="width: 50%">

        <div style="width:100%"> <img src="{{imagePath}}A1.jpg" alt="Chicago"> </div>

      </div>


    </div>
  </div>
  <div class="sub-main-carousal-col-3"></div>
</div>

<br>
<div class="sub-main-carousal-row" style="background-color: white">

  <div class="sub-main-carousal-col-1"></div>
  <div class="sub-main-carousal-col-2">

    <div style="display: flex;flex-direction: row" fxLayout="row wrap" class="colored nopad">
      <div style="width: 50%">
        <div style="width:100%"> <img src="{{imagePath}}A1.jpg" alt="Chicago"> </div>

      </div>
      <div style="width: 50%">
        <h2 _ngcontent-c3="" style=" text-align: left;;color: rgb(217, 206, 147);margin: 2% 0% 3% 7%;"> LOVE & ROMANTIC</h2>
        <div>
          <p
            style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: left;word-spacing:2px;margin: 0% 0% 0% 4%;">

            Looking for a chance to celebrate your love in style!
            Be enchantment with your soulmate and ensure that
            you and your other half can enjoy the precious time
            and space that you needed among lush forests,
            golden sandy shores and green paddy fields

          </p>
        </div>

      </div>


    </div>
  </div>
  <div class="sub-main-carousal-col-3"></div>
</div>
<br>

<div class="sub-main-carousal-row" style="background-color: white">

  <div class="sub-main-carousal-col-1"></div>
  <div class="sub-main-carousal-col-2" style="background-color: white">

    <div style="display: flex;flex-direction: row" fxLayout="row wrap" class="colored nopad">
      <div style="width: 50%">

        <h2 _ngcontent-c3="" style=" text-align: left;;color: rgb(217, 206, 147);margin: 2% 0% 3% 7%;">SANDY SHORE</h2>
        <div style="margin:0% 3% 0% 0%">
          <p
            style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: left;word-spacing:2px;margin: 0% 0% 0% 4%;">

            Relax on an island Surrounded by the soft
            and gold sandy beaches well-known as
            Pearl of the Indian Ocean. Negombo, south
            or east coasts’ stunning shores with azure
            waters are a genuine tropical escape. 

          </p>
        </div>

      </div>
      <div style="width: 50%">

        <div style="width:100%"> <img src="{{imagePath}}A1.jpg" alt="Chicago"> </div>

      </div>


    </div>
  </div>
  <div class="sub-main-carousal-col-3"></div>
</div>


<br>
<div class="sub-main-carousal-row" style="background-color: white">

  <div class="sub-main-carousal-col-1"></div>
  <div class="sub-main-carousal-col-2">

    <div style="display: flex;flex-direction: row" fxLayout="row wrap" class="colored nopad">
      <div style="width: 50%">
        <div style="width:100%"> <img src="{{imagePath}}A1.jpg" alt="Chicago"> </div>

      </div>
      <div style="width: 50%">
        <h2 _ngcontent-c3="" style=" text-align: left;;color: rgb(217, 206, 147);margin: 2% 0% 3% 7%;"> GOLF & LUXURY</h2>
        <div>
          <p
            style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: left;word-spacing:2px;margin: 0% 0% 0% 4%;">

            Golf courses are a must try during your stay and play a
            game at the 18-hole golf courses.
            Victoria Golf and Country Club, Nuwara Eliya Golf club and
            Royal golf club which is the oldest in Sri Lanka, are the
            most luxurious courses for you to have a session.


          </p>
        </div>

      </div>


    </div>
  </div>
  <div class="sub-main-carousal-col-3"></div>
</div>
<br>

<div class="sub-main-carousal-row" style="background-color: white">

  <div class="sub-main-carousal-col-1"></div>
  <div class="sub-main-carousal-col-2" style="background-color: white">

    <div style="display: flex;flex-direction: row" fxLayout="row wrap" class="colored nopad">
      <div style="width: 50%">

        <h2 _ngcontent-c3="" style=" text-align: left;;color: rgb(217, 206, 147);margin: 2% 0% 3% 7%;"> EXCURSIONS</h2>
        <div style="margin:0% 3% 0% 0%">
          <p
            style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: left;word-spacing:2px;margin: 0% 0% 0% 4%;">

            Day tours organized by Evergo
            Travels lead you to many luxury
            experiences for the guests to enjoy
            diverse activities and scenic mother
            nature. Destined it hiking and
            trekking through mountains.

          </p>
        </div>

      </div>
      <div style="width: 50%">

        <div style="width:100%"> <img src="{{imagePath}}A1.jpg" alt="Chicago"> </div>

      </div>


    </div>
  </div>
  <div class="sub-main-carousal-col-3"></div>
</div>

<br>
<div class="sub-main-carousal-row" style="background-color: white">

  <div class="sub-main-carousal-col-1"></div>
  <div class="sub-main-carousal-col-2">

    <div style="display: flex;flex-direction: row" fxLayout="row wrap" class="colored nopad">
      <div style="width: 50%">
        <div style="width:100%"> <img src="{{imagePath}}A1.jpg" alt="Chicago"> </div>

      </div>
      <div style="width: 50%">
        <h2 _ngcontent-c3="" style=" text-align: left;;color: rgb(217, 206, 147);margin: 2% 0% 3% 7%;"> SEAT IN COACH</h2>
        <div>
          <p
            style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: left;word-spacing:2px;margin: 0% 0% 0% 4%;">

            The most pocket easy way to experience the culture, wildlife,
            history, and ancient cities with all the key destinations stop
            around the Island. Ideal tour not only to travel around the cities
            but also to make new multicultural companions and share
            experiences with.

          </p>
        </div>

      </div>


    </div>
  </div>
  <div class="sub-main-carousal-col-3"></div>
</div>
<br>
