<div class="main-carousal-row" id="ALL">
  <div class="main-carousal-col-2">
    <app-main-carousal></app-main-carousal>
  </div>
</div>

<div class="">
  <div fxLayout="row wrap" class="nopad">
    <div fxFlex="grow" style="background: #fff;text-align: left;">
      <br>

      <h2 style=" text-align: center;background: #fff;color: rgb(146, 85, 85);"> TOURS IN SRI LANKA</h2>
      <div style="margin:0% 10% 0% 10%;">
        <br>
        <br>

        <p style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: center; word-spacing:2px ">

          Tour in Sri Lanka is easy when you leave all the preparations to Evergo Travels. We can arrange exclusive
          and tailor-made tours which let you discover the best of Sri Lanka from a luxury car for one or two
          passengers or a passenger van for a family or group of friends to Bicycle and Tuk Tuks as you prefer. You
          can confidently leave everything to us to have you a memorable insight in the country. Don’t miss out
          our golden beaches, wildlife and nature, rich heritage and diversified culture, - book now with Evergo
          Travels


        </p>



        <br>
        <br>
        <div id="CULTURAL"></div>
        <br>
        <br>

      </div>

    </div>
  </div>

  <div class="tour-detail-row">

  </div>

<br>

<app-travel-mini-detail></app-travel-mini-detail>
