
<div class="containerX">
  <div class="main-carousal-row">
    <div class="main-carousal-col-2">
      <app-main-carousal></app-main-carousal>
    </div>
  </div>
  <div class="sub-content-row">
    <div class="sub-content-col-1">
        
    </div>
    <div class="sub-content-col-2">
      <div fxLayout="row wrap" class="colored nopad">
        <div fxFlex="grow" style="background: #fff;text-align: left;">
          <h2 style=" text-align: left;background: #fff;color: rgb(85, 106, 146);"> Expertise of Travel</h2>
            <div>
                <span style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: left; ">
                  Enables EverGo Travels specialists to design truly remarkable travel experiences for you in Sri Lanka. We ourselves travel to these incredible destinations every single year, and we personally research and vet the trips we recommend.

                  welcome picture should be come to the page ( Traditional )
                  
                  “Ayubowan” the inhabitant way to state hello and wishing long life, brings a beginning to an experience of a lifetime if you are a guest to this delight island called Sri Lanka.
                  
                  
                </span>
            </div>
            <div>
              <span style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: left; ">  </span>
            </div>
            <h2 style=" text-align: left;background: #fff;color: rgb(85, 106, 146);">Why EverGo Travels            </h2>
            <div>
                <span style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: left; ">
                  We EverGo Travels  is fully diversified into every aspect of sustainable tourism in Sri Lanka, thus creating the innate synergies that power our partnerships and sets us apart as the newly preferred Destination Management Partner in Sri Lanka.

                  Traveling the path that is traveled by many yet discovering something new, creating and travel on new paths for others to follow, we strive to discover, explore and share our experiences to make your visit ever so special.
                  
                  Filled with much knowledge about the exceptionality of the destination our experienced travel consultants will prepare a holiday to an advanced special interest expedition with intense adventure, recommending what best they have experienced so that you get the maximum for your holiday.
                  
                  Discover Sri Lanka with EverGo!  
                </span>
            </div>
 
        </div>
      </div>

      <div class="tour-detail-row">
        
      </div>




    </div>
    <div class="sub-content-col-3"></div>
  </div>    
  <div class="sub-content-row">
    <div class="sub-content-col-1">
        
    </div>
    <div class="sub-content-col-2">
      <div fxLayout="row wrap" class="colored nopad">
        <div fxFlex="grow" style="background: #fff">
          <h2 style=" text-align: left;background: #fff;color: rgb(29,64,134);"> Most Popular Tours</h2>
        </div>
      </div>

      <div class="tour-detail-row">
        <div>
          <app-sub-carousel></app-sub-carousel>
        </div>
        <div class="sub-div1">
          <div style="display:flex;align-items:stretch">
            <div style="height: 100%;">
                <div class="text yellow">
                    <h4 _ngcontent-c0="" style="margin-top: 0;margin-bottom: 0;">Transfers</h4>
                    <p style="background-color: floralwhite;">“Let us take you there, where you can leave your footprints”</p>
                    <a style="
                    background-color: antiquewhite;
                " href="https://www.ceylontours.com/transport/" class="btn btn-yellow pull-right">Read more</a>
                    <span class="t_t_arrow"></span>
                </div>
            </div>
            <div style="height: 100%;"><img style="width: 100%;height: 100%;" src="{{imagePath}}c3.jpg" ></div>
          </div>
          <div style="display:flex;align-items:stretch">
              <div style="height: 100%;">
                  <div class="text yellow">
                      <h4 _ngcontent-c0="" style="margin-top: 0;margin-bottom: 0;">FAQ</h4>
                      <p style="background-color: floralwhite;">“Let us take you there, where you can leave your footprints”</p>
                      <a style="
                      background-color: antiquewhite;
                  " href="https://www.ceylontours.com/transport/" class="btn btn-yellow pull-right">Read more</a>
                      <span class="t_t_arrow"></span>
                  </div>
              </div>
              <div style="height: 100%;background-color: green;"><img style="width: 100%;height: 100%;" src="{{imagePath}}download.png" ></div>
            </div>
        </div>
        <div class="sub-div2">
            <div style="display:flex;align-items:stretch">
                <div style="height: 100%;">
                    <div class="text yellow">
                        <h4 _ngcontent-c0="" style="margin-top: 0;margin-bottom: 0;">ACCOMMODATION</h4>
                        <p style="background-color: floralwhite;">“Let us take you there, where you can leave your footprints”</p>
                        <a style="
                        background-color: antiquewhite;
                    " href="https://www.ceylontours.com/transport/" class="btn btn-yellow pull-right">Read more</a>
                        <span class="t_t_arrow"></span>
                    </div>
                </div>
                <div style="height: 100%;"><img style="width: 100%;height: 100%;" src="{{imagePath}}c2.jpg" ></div>
              </div>
              <div style="display:flex;align-items:stretch">
                  <div style="height: 100%;">
                      <div class="text yellow">
                          <h4 _ngcontent-c0="" style="margin-top: 0;margin-bottom: 0;">TESTIMONIALS</h4>
                          <p style="background-color: floralwhite;">“Let us take you there, where you can leave your footprints”</p>
                          <a style="
                          background-color: antiquewhite;
                      " href="https://www.ceylontours.com/transport/" class="btn btn-yellow pull-right">Read more</a>
                          <span class="t_t_arrow"></span>
                      </div>
                  </div>
                  <div style="height: 100%;"><img style="width: 100%;height: 100%;" src="{{imagePath}}c1.jpg" ></div>
                </div>
        </div>
      </div>




    </div>
    <div class="sub-content-col-3"></div>
  </div>

</div>
