
<div class="containerX">
  <div class="main-carousal-row">
    <div class="main-carousal-col-2">
      <app-main-carousal></app-main-carousal>
    </div>
  </div>
  <div class="">

    <div class="">
      <div fxLayout="row wrap" class="nopad">
        <div fxFlex="grow" style="background: #fff;text-align: left;">
            <br>

          <h2 style=" text-align: center;background: #fff;color: rgb(146, 85, 85);"> ANOTHER DAY IN PARADISE</h2>
            <div style="margin:0% 10% 0% 10%;">
                <br>
                <br>
                <span>
                  AYUBOWAN,
                </span>
                <br>
                <span style="font-style: italic;font-size: 60%">
                  (You may live long)
                </span>

                <p   style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: center; word-spacing:2px ">
                  
               Travel to Sri Lanka and experience the “Paradise”
                which most commonly used the word to describe Sri Lanka and journey of discovery full of memories that will last forever for generations to generations. Lush, Tropical Island of golden beaches and crystal clear blue waters wrapped around and bundled amazingly within 65000SqKms
               Callers to Sri Lanka to experience travel adventure can choose some numerous activities from unwound on the beach to perceiving the wildlife, dive into huge coral reefs while exploring our unique culture and ancient temples and remains.
               So World! Be SO SRI LANKA
               We invite you to explore and experience in the pearl of the Indian Ocean with “Evergo Way”
                 
                  
                </p>

             
              
                <br>
                <br>
                <br>
                <br>

            </div>
 
        </div>
      </div>

      <div class="tour-detail-row">
        
      </div>




    </div>
  </div>    
  <div class="sub-content-row" style="display: flex;background-color: #ededed; height: 509px">
    <div style="width: 50%">
        <h2 style=" text-align: center;background: #ededed;color: rgb(217, 206, 147);margin: 2% 0% 3% 0%;"> Why Evergo Travels</h2>
      <div style="margin-left: 4%;margin-right: 4%;">
        <span style="color:#490000; ">
        <p   >
            The necessity in order to survive the everyday drudgery, the most crucial thing while deciding on the
            next vacation destination is the “Budget”.</p>
            <p>
            Some destinations are better than others when it comes to planning your ultimate budget holiday.
            </p>
            <p>

            We, Evergo Travels with a reputation for excellence in customer service, are vary the range of field of
            operation into every aspect of sustainable tourism and the newly preferred destination management
            partner in Sri Lanka in your own way with star category for a reasonable price.
            </p>
            <p>
            We struggle to offer you a pocket easy way, the opportunity to discover, explore and share our culture
            to make your visit ever so special and memorable. Filled with much knowledge about the exceptionality
            of the destinations, our experienced travel consultants will prepare a holiday to an enthusiastic
            expedition with intense adventure, recommending what best they have experienced so that you get the
            maximum for your holiday.
            </p>
            <p>
            So World! Be SO SRI LANKA with Evergo Travels.
               
             </p>
            </span>
          </div>
    </div>
    <div style="background-color: blue;width: 50%">
      <div style="height: 100%;"><img style="width: 100%;height: 100%;" src="{{imagePath}}A9.png" ></div>
    </div>
    </div>
    <div style="background-color: #ffffff;display: flex;flex-direction: column">
    <div>
        <h2 style=" text-align: center;background: #fff;color:rgb(217, 206, 147);margin: 4% 0% 0% 0%;"> MOST BEAUTIFUL SPOTS IN SRI LANKA</h2>
    </div>

      <div style="display: flex">
          <div style="width: 60%;margin: 4% 2% 2% 5%;"><app-sub-carousel></app-sub-carousel></div>
          <div style="width: 60%;margin: 4% 0% 0% 0%;">
              <ul class="place-view-list" style="list-style-type: circle;">
                  <li>Nilawali</li>
                  <li>Willpaththu</li>
                  <li>Kandy</li>
                  <li>Jaffna</li>
                  <li>Hikka</li>
                  <li>Yala</li>

                </ul>
              </div>
      </div>
      <div style="background-color: #ededed">
          <h2 style=" text-align: center;color:rgb(217, 206, 147);margin: 3% 0% 0% 0%;"> TESTIMONIALS</h2>
          <div style="margin:0% 10% 0% 10%;">
              <br>
              <br>
              <span>
                AYUBOWAN,
              </span>
              <br>
              <span style="font-style: italic;font-size: 60%">
                (You may live long)
              </span>

              <p   style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: center; word-spacing:2px ">
                
             Travel to Sri Lanka and experience the “Paradise”
              which most commonly used the word to describe Sri Lanka and journey of discovery full of memories that will last forever for generations to generations. Lush, Tropical Island of golden beaches and crystal clear blue waters wrapped around and bundled amazingly within 65000SqKms
             Callers to Sri Lanka to experience travel adventure can choose some numerous activities from unwound on the beach to perceiving the wildlife, dive into huge coral reefs while exploring our unique culture and ancient temples and remains.
             So World! Be SO SRI LANKA
             We invite you to explore and experience in the pearl of the Indian Ocean with “Evergo Way”
               
                
              </p>

           
            
              <br>
              <br>
              <br>
              <br>

          </div>
        </div>
     
    </div>

    <div style="display: flex;flex-direction: row;background-color: white">
      <div style="width: 33%;">
        <div style="margin:2% 6% 4% 3%">
<app-contact-address></app-contact-address>
        </div>

      
      
      </div>
      <div style="width: 33%;">
          <div style="margin:2% 3% 2% 0%">
        <app-contact-us></app-contact-us>
        </div>
      </div>
      <div style="width: 33%;">
          <div style="margin:2% 6% 4% 3%">
              <h2>Tour package details</h2>
              <ul class="place-view-list" style="list-style-type: circle;">
                  <li>Nilawali</li>
                  <li>Willpaththu</li>
                  <li>Kandy</li>
                  <li>Jaffna</li>
                  <li>Hikka</li>
                  <li>Yala</li>
        
                </ul>
          </div>
     
      </div>
    </div>
   

