
<div class="containerX">
  <div class="main-carousal-row">
    <div class="main-carousal-col-2">
      <app-main-carousal></app-main-carousal>
    </div>
  </div>
  <div class="sub-content-row">
    <div class="sub-content-col-1">
        
    </div>
    <div class="sub-content-col-2">
      <div fxLayout="row wrap" class="colored nopad">
        <div fxFlex="grow" style="background: #fff;text-align: left;">
            <br>

          <h2 style=" text-align: left;background: #fff;color: rgb(85, 106, 146);"> ANOTHER DAY IN PARADISE</h2>
            <div>
                <br>

                <span style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: left; ">
                  AYUBOWAN
                  You may live long
               
               Travel to Sri Lanka and experience the “Paradise” which most commonly used the word to describe Sri Lanka and journey of discovery full of memories that will last forever for generations to generations. Lush, Tropical Island of golden beaches and crystal clear blue waters wrapped around and bundled amazingly within 65000SqKms
               Callers to Sri Lanka to experience travel adventure can choose some numerous activities from unwound on the beach to perceiving the wildlife, dive into huge coral reefs while exploring our unique culture and ancient temples and remains.
               So World! Be SO SRI LANKA
               We invite you to explore and experience in the pearl of the Indian Ocean with “Evergo Way”
                 
                  
                </span>

                <br>
                <br>

                <br>

                
           
            <h2 style=" text-align: left;background: #fff;color: rgb(85, 106, 146);">Why EverGo Travels            </h2>
            <br>
 
                <span style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: left; ">
                  The necessity in order to survive the everyday drudgery, the most crucial thing while deciding on the next vacation destination is the “Budget”. 

Some destinations are better than others when it comes to planning your ultimate budget holiday. 

We, Evergo Travels with a reputation for excellence in customer service, are vary the range of field of operation into every aspect of sustainable tourism and the newly preferred destination management partner in Sri Lanka in your own way with star category for a reasonable price. 

We struggle to offer you a pocket easy way, the opportunity to discover, explore and share our culture to make your visit ever so special and memorable. Filled with much knowledge about the exceptionality of the destinations, our experienced travel consultants will prepare a holiday to an enthusiastic expedition with intense adventure, recommending what best they have experienced so that you get the maximum for your holiday. 

So World! Be SO SRI LANKA with Evergo Travels.

                </span>
                <br>

            </div>
 
        </div>
      </div>

      <div class="tour-detail-row">
        
      </div>




    </div>
    <div class="sub-content-col-3"></div>
  </div>    
  <div class="sub-content-row">
    <div class="sub-content-col-1">
        
    </div>
    <div class="sub-content-col-2">
      <div fxLayout="row wrap" class="colored nopad">
        <div fxFlex="grow" style="background: #fff">
          <h2 style=" text-align: left;background: #fff;color: rgb(29,64,134);"> Most Popular Tours</h2>
        </div>
      </div>

      <div class="tour-detail-row">
        <div>
          <app-sub-carousel></app-sub-carousel>
        </div>
        <div class="sub-div1">
          <div style="display:flex;align-items:stretch">
            <div style="height: 100%;">
                <div class="text yellow">
                    <h4 _ngcontent-c0="" style="margin-top: 0;margin-bottom: 0;">Transfers</h4>
                    <p style="background-color: floralwhite;">“Let us take you there, where you can leave your footprints”</p>
                    <a style="
                    background-color: antiquewhite;
                " href="#" class="btn btn-yellow pull-right">Read more</a>
                    <span class="t_t_arrow"></span>
                </div>
            </div>
            <div style="height: 100%;"><img style="width: 100%;height: 100%;" src="{{imagePath}}c3.jpg" ></div>
          </div>
          <div style="display:flex;align-items:stretch">
              <div style="height: 100%;">
                  <div class="text yellow">
                      <h4 _ngcontent-c0="" style="margin-top: 0;margin-bottom: 0;">FAQ</h4>
                      <p style="background-color: floralwhite;">“Let us take you there, where you can leave your footprints”</p>
                      <a style="
                      background-color: antiquewhite;
                  " href="#" class="btn btn-yellow pull-right">Read more</a>
                      <span class="t_t_arrow"></span>
                  </div>
              </div>
              <div style="height: 100%;background-color: green;"><img style="width: 100%;height: 100%;" src="{{imagePath}}A5.jpg" ></div>
            </div>
        </div>
        <div class="sub-div2">
            <div style="display:flex;align-items:stretch">
                <div style="height: 100%;">
                    <div class="text yellow">
                        <h4 _ngcontent-c0="" style="margin-top: 0;margin-bottom: 0;">ACCOMMODATION</h4>
                        <p style="background-color: floralwhite;">“Let us take you there, where you can leave your footprints”</p>
                        <a style="
                        background-color: antiquewhite;
                    " href="#" class="btn btn-yellow pull-right">Read more</a>
                        <span class="t_t_arrow"></span>
                    </div>
                </div>
                <div style="height: 100%;"><img style="width: 100%;height: 100%;" src="{{imagePath}}c2.jpg" ></div>
              </div>
              <div style="display:flex;align-items:stretch">
                  <div style="height: 100%;">
                      <div class="text yellow">
                          <h4 _ngcontent-c0="" style="margin-top: 0;margin-bottom: 0;">TESTIMONIALS</h4>
                          <p style="background-color: floralwhite;">“Let us take you there, where you can leave your footprints”</p>
                          <a style="
                          background-color: antiquewhite;
                      " href="#" class="btn btn-yellow pull-right">Read more</a>
                          <span class="t_t_arrow"></span>
                      </div>
                  </div>
                  <div style="height: 100%;"><img style="width: 100%;height: 100%;" src="{{imagePath}}c1.jpg" ></div>
                </div>
        </div>
      </div>




    </div>
    <div class="sub-content-col-3"></div>
  </div>

</div>
