<div class="topNavigation" style="background-color: gray">
  <div  style="display: flex;background-color: transparent" >
    <div>
        <img  style="height: 99px;">
    </div>
    <div style="margin-left: auto;margin-top: 1.2%;font-weight: 1000 !important;font-size: 14px !important;" >
      <ul >
  
           
    </ul>
    </div>
  </div>

</div>







<div class="sub-main-carousal-row">
<div class="sub-main-carousal-col-1"></div>
<div class="sub-main-carousal-col-2" style="display:flex;flex-direction:column;">
  <h1 class="sub-main-headding1" style="background-color: darkgrey">SRI LANKA TOURS</h1>
  <div>
    Touring Sri Lanka is easy when you leave all the preparations to EverGo Travels. Our guides and chauffeurs have an impressive knowledge of all aspects of this incredible country. They know which places you will find, fascinating, based on your special interests, and they appreciate that the decision is yours regarding what you want to do. We can arrange exclusive tours which let you discover the best of Sri Lanka by car, for one or two passengers, or by passenger van, for a family or group of friends. Our guides are enthusiastic and experienced at looking after foreign guests. They speak English as well as other languages and are happy to introduce you to local etiquette and customs. You can confidently leave everything to us so that your tour in Sri Lanka is enjoyable and rewarding, giving you a memorable insight into the country.
  </div>  
    <h1 class="sub-main-headding1" style="background-color: darkgrey">BEACH TOURS</h1>
    <div>
        Sri Lanka has a coast line of 1600 kms with numerous coves, bays and lagoons. The splendor of the ocean trapped in a tranquility in bays , Renowned for the golden beaches that encompass the island, Sri Lanka has long attracted tourists seeking sand, sun-bathing, swimming, water sports, deep sea fishing and diving. Quaint coastal hamlets have expanded to welcome tourists staying in homely guesthouses, mainstream hotels or luxury boutique villas by the sea. Fringed by palm trees, with soft sand and azure waters, these beaches make an ideal holiday location beside the Indian Ocean.


        blooming tourist hotspots, like the beaches of Negombo near the airport and to the South of Colombo, Mount Lavinia, Bentota, Galle, Unawatuna and Mirissa, and in the East Trincomalee, Passikudah and Arugam Bay, are great destinations for our tailor-made tours, or for any type of getaway, with budget-friendly to top-notch luxury accommodation, and they boast many restaurants, bars and fun activities too
        
        The north east winds make the south western coast sunny and the sea unhurried to wake up from November to March. The South West winds make the East Coast waters calm with the constant sun shine happily in harmony.
    </div>

    <h1 class="sub-main-headding1" style="background-color: darkgrey">AURVEDA TOURS</h1>
    <div>
        Ayurveda is a form of traditional medicine proficient in Sri Lanka for many centuries. Ayurveda means ‘science of life’ and emerged in the South Asian region over 5,000 years ago. Ayurveda translates into English as the Science of Life. (Ayur-life,Veda-science). Ayurveda is the oldest and most developed life science of natural healing in the world. Life is the outcome of the union of body (Sharir), sense organs (Indriya), Psyche Mana) and Soul (Atma).

 

        Ayuveda is a holistic move toward to health and wellbeing, and is based on herbs and diet. Sri Lanka is blessed with an abundant supply of medicinal plants, herbs and spices, which are vigilantly used not just to heal or mitigate a particular disease or ailment, but also to promote the overall wellbeing of the patient. It also emphasizes harmony of body, mind and spirit.
       </div>
    <h1 class="sub-main-headding1" style="background-color: darkgrey">CULTURAL TOURS</h1>
    <div>
        A history that is strewn with ancient legend, age old statues of undefined age dot the north central plains of Sri Lanka. Sri Lanka is synonymous with Buddhism and the north central plains are strewn with many Buddhist temples, sculptures, stupas and many ancient monasteries, some are over two thousand years old. An ancient civilization thrived, first in the ancient capital of Anuradhapura for over a thousand years then due to invasions from South India capital was moved to Polonnaruwa, under the guidance and influence of Buddhism. Many monolithic rock formations that dot the north central plains have been transformed into places of worship by the skillful ancient sculptors, inspired by Buddhist way of life. Ideal time to visit these monuments are in the morning or evening when the sun dawns upon them to lighting up these ancient wonders.
    </div>
    <h1 class="sub-main-headding1" style="background-color: darkgrey">HILL COUNTRY TOURS</h1>
    <div>
        Kandy, the hill capital can be accessed by both land and air. The most Famous  land route is by train which offers amazing scenic views of the scenery. Trains leave daily from the Fort Railway Station in Colombo. Kandy is also accessible by air deeply reducing travelling time.

        The town of Nuwara Eliya still retains much of its British colonial charm that has earned it the nickname Little England. Nestled 2,000 metres above sea level it is one of the coldest regions of Sri Lanka with an annual average temperature of 15 degrees Celsius. Relax inside a colonial home and drink tea considered to be the best in the world. For the exploratory a trek through Horton Plains and Worlds End is a rewarding encounter with nature.
</div>
    <h1 class="sub-main-headding1" style="background-color: darkgrey">PRIVATE TOURS / INCENTIVE TOURS</h1>
    <div>
      The island is a haven of fun and relaxation, with many well-designed hotels, sophisticated restaurants, pubs, Karaoke bars, and casinos in Colombo or a chance for lovely relaxation on the many beaches or exploring the island. The cooler, green hills of the interior are perfect for a quiet holiday. Historical attractions, natural wonders and wildlife spectacles be plentiful and the city of Colombo is fast becoming a hub of art.
    </div>
    <h1 class="sub-main-headding1" style="background-color: darkgrey">LUXURY TOURS</h1>
    <div>
      Sri Lanka is home to many luxury experiences for the discerning traveler. From wonderful seaside resorts and spas to eclectic eco-friendly villas and boutique hotels, there is plenty of opportunities for those who revel in comfort and style.

      Five-star hotels in the city of Colombo & Other cities offer guests everything, from excessive suites to lavish spas and pools, as well as sensational dining experiences. Boutique hotels and luxury villas away from the city excel with star-quality comfort and there are also exciting sporting activities. An air taxi service is available to many destinations, avoiding long-distant road travel
    </div>
    <h1 class="sub-main-headding1" style="background-color: darkgrey">SRI LANKA GOLF TOURS</h1>
    <div>
      Sri Lanka is mostly known for its perfect climate, stunning beaches, wildlife and rich culture. However the golf courses are a must try during your stay. Sri Lanka is home to 4 stunning 18 hole golf courses, the most scenic being the courses in the hills. The Victoria Golf and Country Club in particular has been voted ‘Best Course in Asia 2005’ and been included in the ’Top 100 Most Beautiful Courses’ by Golf Digest. Our golf tours have been created using the perfect mix of golfing action and relaxation in paradise.
    </div>
    <h1 class="sub-main-headding1" style="background-color: darkgrey">WILDLIFE & ADVENTURE TOURS,</h1>
    <div>
      Sri Lanka’s wildlife ranges from wild elephants and leopards to sea turtles and a enormous variety of birds. Sri Lanka’s Yala National Park is known to have the highest density of leopards in the world. National parks and bird sanctuaries, particularly in the southern and central zones, have the best opportunities to see animals in their natural habitat. keep on alert for a sighting of the rare sloth bear or leopard, watch hundreds of elephants feeding and washing in a tank or lagoon during “the gathering”; or be amazed by the egg laying sea turtles. Our tours include many possibilities for wildlife watching and birding.
    </div>
    <h1 class="sub-main-headding1" style="background-color: darkgrey">HONEYMOON TOURS, ROMANTIC TOUR PACKAGES</h1>
    <div>
      Being an island of private powdery white beaches, secluded colonial bungalows in the heart of lush jungles and luxurious star class suites in the city makes Sri Lanka an ideal choice for honeymoons and weddings. Fall in love all over again while lying on one of our white sandy beaches or while cuddling with a hot cup of tea in the central highlands of Sri Lanka. You can’t go wrong at one of the ultimate destinations for honeymooners with endless privileges for that perfect honeymoon vacation. So why not choose Sri Lanka for your romantic getaway as newlyweds, starting your lives together, or as lovers in search of some quiet time. For whichever reason you have come to the right place! Many hotels specialized in honeymoons are opening offering newlyweds and couples to be the ideal getaway. Ayurveda, the authentic Sri Lankan spa treatment is gaining worldwide acknowledge and is ideal for honeymooners to relax.
    </div>
    
</div>


<div class="sub-main-carousal-col-3"></div>
</div>


<!-- <div class="sub-main-carousal-row">
  <div class="sub-main-carousal-col-1"></div>
  <div class="sub-main-carousal-col-2" style="display:flex;flex-direction: column;">
    <h1 class="sub-main-headding">NEWS AND EVENTS</h1>
    <div style="display:flex ; flex-wrap: wrap;" >

    
        <!-- <div style="display:flex ;width: 50%;padding:1%" *ngFor="let news of results">
        
          <img src="{{imagePath}}{{news.path}}" alt="New York" style="width: 50%;height:100%;">
          <div style="width: 50%;height:100%;padding-left:1%">{{news.discription}}</div>

        </div> -->

      

<!--
    </div>

    <div></div>
  </div>
  <div class="sub-main-carousal-col-3"></div>
</div> -->