<div class="sub-main-carousal-row sub-content">
  <div class="sub-main-carousal-col-21">
  </div>
</div>

<div class="sub-main-carousal-row">
  <div class="sub-main-carousal-col-1"></div>
  <div class="sub-main-carousal-col-2" style="background: #fff">

    <div style="display:flex">
      <div fxLayout="row wrap" class="colored nopad">
        <div fxFlex="grow">
          <h2 style="text-align: left;background: #fff;color: #a60413 !important ;font-weight: 500;">{{selectedType.title}}
          </h2>
          <div>
            <br>
            <span style="color:rgb(82, 82, 100);word-wrap:break-word;width:100%;text-align: left; ">
              {{selectedType.detail}}
            </span>
          </div>
        </div>
      </div>

    </div>

    <div class="sub-main-carousal-row" style="margin: 20px 1px 10px 1px">

      <div style="display:flex;flex-direction: row">
        <div style="width:100%" *ngFor="let image of selectedType.images">
          <div style="margin: 2px 2px 2px 2px;">
            <img src="{{imagePath}}{{image}}" alt="Chicago">
          </div>
        </div>
      </div>

    </div>

    <div class="card bg-danger text-white" style="
    background-color: #a60413 !important;
">
      <div class="card-body">
          <div> <img src="{{imagePath}}time-5-xxl.png" style="width: 40px;"> 
            <span style="color: #ef8803;">DURATION : {{selectedType.duration}}</span> </div>
          
      

      </div>
    </div>

    <div class="sub-main-carousal-row" style="display:flex;flex-direction: column;margin: 20px 1px 10px 1px"
      *ngFor="let activity of selectedType.activities">
      <div class="card">
        <div class="card-body" style="
        padding: 0.25rem;
    ">

          {{activity.day}}
        </div>

      </div>
      <br>
      <div>
        <span style="font-size: large;font-family: sans-serif;color: #944048">
          {{activity.route}}
        </span>
        <br>
        <span>
          Travel duration: {{activity.tduration}} Hours
        </span>
        <br>
      </div>

      <div>
        <br>
        {{activity.discription}}
        <br>
      </div>

      <div [hidden]="!activity.stay">
        <br>

        <div style="display: flex" >
          <div> <img src="{{imagePath}}icon-bed.png" style="width: 40px;"></div>
          <div style="margin: 6px;font-weight: 350;font-style: italic;"> {{activity.stay}}</div>
        </div>


        <br>
      </div>

    </div>

    <div style="display: flex">
        <div> <img src="{{imagePath}}airplane.png" style="width: 82px;"></div>
        <div style="margin: 19px;font-weight: 350;font-style: italic;"> {{selectedType.summary}}</div>
        <br>
      </div>
      <br>
    <div>
      <a style=" 
      display: block;
      width: 183px;
      height: 59px;
      background: #a60413;
      padding: 17px;
      text-align: center;
      border-radius: 5px;
      color: #ef8803;
      font-weight: bold;
      
      " routerLink="/contact">INQUIRE NOW</a>
    </div>

    <div>
      <br>
      <p>Kindly note these points:</p>
      <ul>
        <li>Your booking cannot be cancelled after making the payment. Therefore, cannot be refunded once the payment
          done</li>
        <li>Additional services and excursions may be provided for an additional charge</li>
        <li>The official check-in time at all hotels at 02:00 pm</li>
        <li>The official check-out time at all hotels at 12:00 pm</li>
      </ul>
    </div>
    <div>
      Share this post:
     <a href=""> FACEBOOK</a> | <a href=""> TWITTER</a>  | <a href=""> PINTEREST</a> |<a href=""> GOOGLE+ </a> |<a href=""> LINKEDIN</a> 
    </div>
    <div class="sub-main-carousal-col-3"></div>
  </div>